*{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif ;
}

.background{
    background: url('/project/img/background01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size:14px ;
}
.header{
    display: flex;
    justify-content: center;
    align-items:center ;
    cursor: pointer;
}
/* header{
    margin-top: 20px;
    font-size: 35px;
} */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
    height: 10px;
    background: #696969;
    border-radius: 8px;
    margin: 40px;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: azure;
}
.nav-links li a:hover{
    color: black;
}
.text-box{
    width: 90%;
    background-color:rgba(164, 164, 164,0.4);
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0px 30px ;
    font-size: 14px;
}
/* ---------Media Query--------------- */
@media(max-width:811px){
    .text-box h1{
        font-size: 20px;
    }
    nav {
        flex-direction: column;
        padding: 2% 0%;
        height: auto;
    }

    .nav-links ul {
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        display: block;
        padding: 10px 0;
    }

    .nav-links li a {
        display: block;
        width: 100%;
    }
    .text-box{
        margin: 200px 0px;
    }
    /* ----for service sectionn -----*/
    .row{
        flex-direction: column;
    }

    /* ----for testimonials------ */
    .testmonies img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .testmonies{
        justify-content: center;
        width: 100%;
        margin-left: -10%;
    }
    /* ------About us page------- */
    .about-col img{
        max-width: 100%;
    }
}

/* ----services----- */
.services{
    width: auto;
    margin: auto;
    text-align: center;
    padding: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
}
.row{
    /* margin-top: 5%; */
    display: flex;
    justify-content: space-between;
}
.service{
    flex-basis: 31%;
    background: lightgray;
    border-radius: 10px;
    margin: 5% 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    margin: 15px 0;
}
.service p{
    font-size: 12px;
}
.service:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
}

/* -----testimonials------- */
.testimonials{
    width: auto;
    margin: auto;
    padding: 100px;
    text-align: center;
}
.testmonies{
    flex-basis: 42%;
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testmonies img{
    height: 45px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testmonies p{
    padding: 0;
}
.testmonies h3{
    margin-top: 15px;
    text-align: left;
}
.testmonies .fas{
    color: lightcoral;
}
.testmonies .far{
    color:lightcoral;
}
/* -------contact us or call to action */
.cta{
    margin: 100px 50px;
    width: auto;
    background-image: linear-gradient(rgba(51, 51, 51, 0.2),rgba(0,0,0,0.5)), url(/project/img/info.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta p{
    color: white;
    margin-bottom: 30px;
    padding: 0;
    font-size: 15px;
}
.hero-btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #696969;
    background:  #696969;
    transition: 1s;
}
/* -----footer------- */
.footer{
    width: auto;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* -----ABOUT US PAGE------------ */
.about-background{
    height: 70vh;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/project/img/aboutus.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
h1{
    margin-top: 40px;
}
.abount-us{
    width: 80%;
    margin: auto;
    padding-top: 80px ;
}
.about-col{
    flex-basis: 50%;
    padding: 30px 30px;
}
.about-col img{
    max-width: 100%;
}
.about-col h{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 40px;
}
.hero-btn1{
    display: inline-block;
    color: rgb(163, 163, 163);
    text-decoration: none;
    border: 2px solid rgb(153, 153, 153);
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 25px;
}
.hero-btn1:hover{
    border: 1px solid #696969;
    background:  rgb(153, 153, 153);
    transition: 1s;
    color: black;
}