/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 0.5em;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 2em;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.social-media-links {
    margin-top: 20px;
}

.social-media-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.social-media-links a:hover {
    color: #007bff;
}
@media (max-width: 768px) {
    .social-media-links {
        text-align: center;
    }
    .social-media-links a {
        font-size: 20px;
    }
}
#map{
    display: flex;
    justify-content: center;
    text-align: center;
}